doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title about
        link(rel='stylesheet' href='css/about.css' type='text/css')
    body#body
        div#container(onclick="window.close();")
            div#about
                img#icon(src='img/about.png', width=256, height=256, onclick="window.openRepoURL();")
                a(onclick="window.openRepoURL();" href="#")
                    div#name name
                a(onclick="window.openRepoURL();" href="#")
                    div#version version
    script.
        require('./js/about.js')