
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

scrollbarWidth        = 12px // transparent scroll area
scrollhandleWidth     = 6px
frameColor            = #222
frameWidth            = scrollhandleWidth
frameBorder           = frameWidth solid frameColor
titlebarHeight        = 22px
titlebarFontSize      = 14px
splithandleHeight     = 6px
thinBorder            = 1px solid frameColor
font                  = "Avenir Next", "Verdanda", sans-serif
fontMono              = "Menlo", "Cousine", "Liberation Mono", "Andale Mono", monospace

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

pre 
    margin              0
    
// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    background          #000
    color               #fff
    overflow            hidden
    font-family         font
    -webkit-user-select none
    -webkit-app-region  no-drag
    
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

.titlebar
    height              titlebarHeight
    box-sizing          border-box
    background          #333
    color               #aaa
    font-size           titlebarFontSize
    padding-left        70px
    padding-right       70px
    white-space         nowrap
    -webkit-app-region  drag
    position            static
    display             block

.titlebar .title
.titlebar .dot
    display             inline-block
    vertical-align      top
    padding-left        10px
    padding-top         3px 
        
.titlebar .title::before
    content             attr(data-tip)
    position            absolute
    z-index             999
    white-space         nowrap
    background          #333
    opacity             0  
    top                 9999px
    transition          opacity 0.2s ease-out 
     
.titlebar .title:hover::before
    opacity             1
    top                 3px

.titlebar .title.focus
    color               #34C749

//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000 
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000  
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

::-webkit-scrollbar
    width                   scrollhandleWidth
::-webkit-scrollbar
    height                  scrollhandleWidth  
    background-color        transparent

::-webkit-scrollbar-corner
    background-color        #222

::-webkit-scrollbar-thumb
    background-color        #333

::-webkit-scrollbar-track
    background-color        transparent
    
::-webkit-scrollbar-thumb
    background-color        #333
    
::-webkit-scrollbar-thumb:hover
    background-color        #b00

.scrollbar
    position            absolute
    top                 0
    bottom              0
        
    &.left
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           scrollbarWidth

.scrollhandle
    background          #88f
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0    

//  0000000  00000000   000      000  000000000
// 000       000   000  000      000     000   
// 0000000   00000000   000      000     000   
//      000  000        000      000     000   
// 0000000   000        0000000  000     000   
        
.split
    overflow            hidden
    position            relative
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    box-sizing          border-box
    
.handle
    background          #222
    height              splithandleHeight
    overflow            hidden
    position            relative
    
.log
    bottom              0

.main
    position            relative
    overflow            hidden
    background          #181818
    pointer-events      auto


// 000000000  000  000      00000000
//    000     000  000      000     
//    000     000  000      0000000 
//    000     000  000      000     
//    000     000  0000000  00000000

.tiles
    position            absolute
    top                 200px
    left                0
    right               0
    bottom              0
    background          #000
    overflow-y          scroll
    padding-top         10px

.tile                       
    display             inline-block
    padding             0
    margin              0
    
.tiles .tile
    margin-right        -11px
    margin-top          -11px
    
.tileExpanded .tileName     
    color               #fa0
    
.tilePad                    
    display             inline-block
    padding             10px
    padding-bottom      6px
    border              1px solid transparent
    border-radius       3px
    
.tilePadFocus               
    background-color    #44a
    
.tilePadFocus .tileSqrCover 
    opacity             1.0
    
.tilePadDir                 
    border-radius       8px
    
.tilePadFocus.tilePadDir    
    background-color    #333
    
.tileSqrDir                 
    padding             5px
    overflow            hidden
    border-radius       0px
    background-color    rgba(0,0,0,0.7)
    
.tileSqrCover               
    opacity             0
    
.tileArtist                 
    color               #88f
    
.tileImgDir                 
    border-radius       5px
    
.tileSqrFile                
    padding             5px
    overflow            hidden
    background-color    rgba(0,0,100,0.7)

.logview
    font-size           10px

.logview
.main
    position            relative
    overflow            hidden

    background          #000
    color               #ddd 
    
    font-family         font

//    0000000   0000000   000   000   0000000 
//   000       000   000  0000  000  000      
//   0000000   000   000  000 0 000  000  0000
//        000  000   000  000  0000  000   000
//   0000000    0000000   000   000   0000000 

.song
    position            absolute
    top                 10px
    left                200px
    bottom              10px
    right               0
    background-color    #111
    
.songInfo
    position            absolute
    right               0
    top                 0
    bottom              0
    background          #f00

.wave
    position            absolute
    top                 10px
    left                182px
    right               0
    height              160px
    overflow            hidden

.waveLines 
    position            absolute
    top                 0
    width               2px
    height              180px
    background-color    rgba(255,255,255,0.07)

.waveBlend
    position            absolute
    top                 0
    left                0
    height              160px
    background-color    rgba(19,19,19,0.6)
        
//   0000000    000   000  000000000  000000000   0000000   000   000   0000000
//   000   000  000   000     000        000     000   000  0000  000  000     
//   0000000    000   000     000        000     000   000  000 0 000  0000000 
//   000   000  000   000     000        000     000   000  000  0000       000
//   0000000     0000000      000        000      0000000   000   000  0000000 
        
.buttons
    position       absolute
    bottom         10px
    left           10px
    width          200px
    paddingTop     10px
.button
    margin-top     5px
    opacity        1.0
    color          #444
    background     #111
    padding        10px
    border-radius  5px
    margin-right   5px
    display        inline-block
.button:hover       
    color          #fff
.button:active      
    background     #222
.buttonActive
    color          #fa0
.buttonInactive
    color          #444
#random
#home
    margin-left     14px
#song
    vertical-align  bottom
#length
    vertical-align  top
    margin-top      5px
.label
    display        inline-block
    margin-left    10px
    padding        0
    color          #444
#play
    width          42px
    margin-bottom  15px
#next
    width          30px
    text-align     center
#prev
    width          30px
    text-align     center
@keyframes highlight
    0%,100%   
        color: rgb(16,16,16)
    50%  
        color: rgb(255,255,255)
.highlight
    animation                   highlight 1.5s
    animation-timing-function   ease-in
    animation-iteration-count   1
    