
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

tileSize              = 156
ctrlHeight            = 184px
frameWidth            = 6px
frameColor            = #222
frameBorder           = frameWidth solid frameColor
titlebarHeight        = 22px
font                  = "Avenir Next", "Verdanda", sans-serif
fontMono              = "Menlo", "Cousine", "Liberation Mono", "Andale Mono", monospace

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

pre 
    margin              0
    
// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    background          #000
    color               #fff
    overflow            hidden
    font-family         font
    -webkit-user-select none
    -webkit-app-region  no-drag
    
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

.titlebar
    height              titlebarHeight
    box-sizing          border-box
    background          #333
    color               #aaa
    font-size           13px
    padding-top         2px
    padding-left        70px
    padding-right       70px
    white-space         nowrap
    -webkit-app-region  drag
    position            static
    display             block

//  0000000  00000000   000      000  000000000
// 000       000   000  000      000     000   
// 0000000   00000000   000      000     000   
//      000  000        000      000     000   
// 0000000   000        0000000  000     000   
        
#split
    border-left         frameBorder
    border-right        frameBorder
    box-sizing          border-box
    position            absolute
    top                 titlebarHeight
    left                0px
    right               0px
    bottom              0px
    
.gutter
    background  #222
    
.gutter-vertical
    cursor    row-resize

.main
    position            relative
    overflow            hidden
    background          #181818
    pointer-events      auto
    min-height          ctrlHeight

//    0000000  000000000  00000000   000    
//   000          000     000   000  000    
//   000          000     0000000    000    
//   000          000     000   000  000    
//    0000000     000     000   000  0000000

.ctrl
    height              ctrlHeight
    background          #222
    overflow            hidden

// 000000000  000  000      00000000
//    000     000  000      000     
//    000     000  000      0000000 
//    000     000  000      000     
//    000     000  0000000  00000000

.tiles
    background          #000
    overflow-y          scroll
    padding-top         frameWidth
    padding-left        frameWidth
    padding-bottom      frameWidth
    position            absolute
    top                 184px
    bottom              0
    left                0
    right               0

.tile                       
    display             inline-block
    padding             0
    margin              0
        
.tileExpanded .tileName     
    color               #fa0
    
.tilePad                    
    display             inline-block
    padding             frameWidth
    border-radius       3px
    
.tilePadFocus               
    background-color    #44a
    
.tilePadFocus .tileSqrCover 
    opacity             1.0
    
.tilePadDir                 
    border-radius       8px
    
.tilePadFocus.tilePadDir    
    background-color    #333
    
.tileSqrDir                 
    padding             frameWidth
    overflow            hidden
    border-radius       0px
    background-color    rgba(0,0,0,0.7)
    
.tileSqrCover               
    opacity             0
    
.tileArtist                 
    color               #88f
    
.tileImgDir                 
    border-radius       frameWidth
    
.tileSqrFile                
    padding             frameWidth
    overflow            hidden
    background-color    rgba(0,0,100,0.7)

.logview
    font-size           12px
    overflow            scroll
    font-family         fontMono
    border-bottom       frameWidth solid #222
    box-sizing          border-box

.main
    overflow            hidden
    
.logview
.main
    position            relative

    background          #000
    color               #ddd 

//    0000000   0000000   000   000   0000000 
//   000       000   000  0000  000  000      
//   0000000   000   000  000 0 000  000  0000
//        000  000   000  000  0000  000   000
//   0000000    0000000   000   000   0000000 

.song
    position            absolute
    top                 frameWidth
    left                189px
    height              172px
    right               0
    background-color    #000
    border-radius       3px
    
.songInfo
    position            absolute
    right               0
    top                 0
    bottom              0
    background          rgba(0,0,0,0)
    
.songElapsed
.songDuration
    padding-left        frameWidth
    padding-right       frameWidth
    position            absolute
    font-size           14px
    font-weight         bold
    color               #333
    background          #000
    right               0px

.songElapsed
    top                 0px
    padding-top         frameWidth
    border-bottom-left-radius  frameWidth

.songDuration
    border-top-left-radius     frameWidth
    bottom              0px
    padding-bottom      frameWidth

.wave
    position            absolute
    top                 frameWidth
    left                182px
    right               frameWidth
    height              160px
    overflow            hidden
    opacity             0.25

.waveLine 
    position            absolute
    top                 0
    bottom              0
    width               2px
    background-color    rgba(255,255,255,0.14)

.waveBlend
    position            absolute
    top                 0
    left                0
    height              160px
    background-color    rgba(19,19,19,0.6)
        
//   0000000    000   000  000000000  000000000   0000000   000   000   0000000
//   000   000  000   000     000        000     000   000  0000  000  000     
//   0000000    000   000     000        000     000   000  000 0 000  0000000 
//   000   000  000   000     000        000     000   000  000  0000       000
//   0000000     0000000      000        000      0000000   000   000  0000000 
        
.buttons
    position            absolute
    top                 frameWidth
    left                0
    
.button     
    margin-top          frameWidth
    vertical-align      bottom
    opacity             1.0
    color               #444
    background          #111
    padding             10px
    padding-top         11px
    padding-bottom      9px
    border-radius       frameWidth
    margin-right        frameWidth
    min-width           20px
    text-align          center
    display             inline-block
.button:hover            
    color               #fff
.button:active           
    background          #222
.buttonActive     
    color               #fa0
.buttonInactive     
    color               #444

.label
    display             inline-block
    margin-left         10px
    padding             0
    color               #444
    font-size           14px
    font-weight         bold
#play     
    width               50px
    height              50px
    
#next     
#prev
    width               30px
    
#song
#playlist
    width               66px
    text-align          left
    padding-left        15px

//    0000000   000   000  000  00     00   0000000   000000000  000   0000000   000   000
//   000   000  0000  000  000  000   000  000   000     000     000  000   000  0000  000
//   000000000  000 0 000  000  000000000  000000000     000     000  000   000  000 0 000
//   000   000  000  0000  000  000 0 000  000   000     000     000  000   000  000  0000
//   000   000  000   000  000  000   000  000   000     000     000   0000000   000   000
    
@keyframes highlight
    0%,100%   
        color           rgb(16,16,16)
    50%  
        color           rgb(255,255,255)
.highlight
    animation                   highlight 1.5s
    animation-timing-function   ease-in
    animation-iteration-count   1
    
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000 
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000  
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

::-webkit-scrollbar
    width                   frameWidth
::-webkit-scrollbar
    height                  frameWidth  
    background-color        transparent

::-webkit-scrollbar-corner
    background-color        #222

::-webkit-scrollbar-thumb
    background-color        #333

::-webkit-scrollbar-track
    background-color        transparent
    
::-webkit-scrollbar-thumb
    background-color        #333
    
::-webkit-scrollbar-thumb:hover
    background-color        #b00
    